In [1]:
import csv

# Tên file và chỉ mục của cột cần gộp
input_file = 'DHKT-DHDN_KH HOC PHAN 22-23 (1).csv'
output_file = 'tam.csv'
start_column_index = 13  # Chỉ mục cột bắt đầu gộp

# Đọc dữ liệu từ file CSV và lưu trữ vào danh sách dòng
data = []
with open(input_file, 'r', newline='', encoding='utf-8') as input_csvfile:
    reader = csv.reader(input_csvfile)
    for row in reader:
        data.append(row)

# Gộp các cột từ cột bắt đầu đến cột cuối cùng
for row in data:
    merged_value = '","'.join(row[start_column_index:])  # Gộp các giá trị từ cột bắt đầu đến cột cuối cùng
    row[start_column_index:] = [merged_value]  # Gán giá trị đã gộp vào cột đầu tiên

# Ghi dữ liệu đã gộp và xóa các cột còn lại vào file CSV mới
with open(output_file, 'w', newline='', encoding='utf-8') as output_csvfile:
    writer = csv.writer(output_csvfile)
    writer.writerows(data)

In [2]:
import csv

csv.field_size_limit(2**30)

# Tên file và chỉ mục của cột cần gộp
input_file_2 = 'khaosat_241_25.csv'
output_file_2 = 'KSHP_1_24_transfrom.csv'
start_column_index = 13  # Chỉ mục cột bắt đầu gộp

# Đọc dữ liệu từ file CSV và lưu trữ vào danh sách dòng
data_2 = []
with open(input_file_2, 'r', newline='', encoding='utf-8') as input_csvfile_2:
    reader_2 = csv.reader(input_csvfile_2)
    for row_2 in reader_2:
        data_2.append(row_2)

# Gộp các cột từ cột bắt đầu đến cột cuối cùng
for row_2 in data_2:
    merged_value_2 = ''.join(row_2[start_column_index:])  # Gộp các giá trị từ cột bắt đầu đến cột cuối cùng
    row_2[start_column_index:] = [merged_value_2]  # Gán giá trị đã gộp vào cột đầu tiên

# Ghi dữ liệu đã gộp và xóa các cột còn lại vào file CSV mới
with open(output_file_2, 'w', newline='', encoding='utf-8') as ouput_csvfile_2:
    writer = csv.writer(ouput_csvfile_2)
    writer.writerows(data_2)

In [3]:
# group by dữ liệu theo cột mã sinh viên và mã lớp học phần, tính tổng số câu trả lời
import pandas as pd
df = pd.read_csv('KSHP_1_24_transfrom.csv', header=None)
gr_df = df.groupby([df.columns[1], df.columns[10]])[df.columns[11]].agg('count').reset_index()
print(gr_df)

C:\Users\DW\AppData\Local\Temp\ipykernel_352\1200827682.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('KSHP_1_24_transfrom.csv', header=None)

                 1                10  11
0      161121317173        COM2001_3  23
1      161121317173        LAW3010_1   5
2      171121006515  ACC3001_47K18.1   1
3      171121006515  ACC3010_46K06.6   1
4      171121006515  LAW1001_49K06.6   1
...             ...              ...  ..
71149  231124029244  LAW1001_49K29.2   1
71150  231124029244  MGT1001_49K29.2   1
71151  231124029244  MGT1002_49K29.2   1
71152  231124029244  MIS3001_49K29.2   1
71153  231124029244        SMT1005_4   1

[71154 rows x 3 columns]

In [4]:
# tìm ra các sinh viên có tổng số câu trả lời dưới 25 cho lớp học phần
gr_df_lessthan25 = gr_df[gr_df[11]<25]
df_new = gr_df_lessthan25.reset_index(drop=True)
df_new['key'] = df_new[1].astype(str) + df_new[10]
print(df_new)

                  1               10  11                          key
0      161121317173        COM2001_3  23        161121317173COM2001_3
1      161121317173        LAW3010_1   5        161121317173LAW3010_1
2      171121006515  ACC3001_47K18.1   1  171121006515ACC3001_47K18.1
3      171121006515  ACC3010_46K06.6   1  171121006515ACC3010_46K06.6
4      171121006515  LAW1001_49K06.6   1  171121006515LAW1001_49K06.6
...             ...              ...  ..                          ...
30715  231124029244  LAW1001_49K29.2   1  231124029244LAW1001_49K29.2
30716  231124029244  MGT1001_49K29.2   1  231124029244MGT1001_49K29.2
30717  231124029244  MGT1002_49K29.2   1  231124029244MGT1002_49K29.2
30718  231124029244  MIS3001_49K29.2   1  231124029244MIS3001_49K29.2
30719  231124029244        SMT1005_4   1        231124029244SMT1005_4

[30720 rows x 4 columns]

In [5]:
# tạo khoá bằng masinhvien + malophocphan
df_key = df
df_key['key'] = df_key[1].astype(str) + df_key[10]
print(df_key.head(5))

       0             1            2     3           4        5  \
0  44K24  181121424115  Nguyễn Thục  Uyên  15/10/2000  ACC1001
1  44K24  181121424115  Nguyễn Thục  Uyên  15/10/2000  ACC1001
2  44K24  181121424115  Nguyễn Thục  Uyên  15/10/2000  ACC1001
3  44K24  181121424115  Nguyễn Thục  Uyên  15/10/2000  ACC1001
4  44K24  181121424115  Nguyễn Thục  Uyên  15/10/2000  ACC1001

                   6        7         8     9             10  11  12     13  \
0  Nguyên lý kế toán  2100329  Hồ Phước  Dũng  ACC1002_48K05   1   5  không
1  Nguyên lý kế toán  2100329  Hồ Phước  Dũng  ACC1002_48K05   2   5  không
2  Nguyên lý kế toán  2100329  Hồ Phước  Dũng  ACC1002_48K05   3   5  không
3  Nguyên lý kế toán  2100329  Hồ Phước  Dũng  ACC1002_48K05   4   5  không
4  Nguyên lý kế toán  2100329  Hồ Phước  Dũng  ACC1002_48K05   5   5  không

                         key
0  181121424115ACC1002_48K05
1  181121424115ACC1002_48K05
2  181121424115ACC1002_48K05
3  181121424115ACC1002_48K05
4  181121424115ACC1002_48K05

In [6]:
# nối 2 df theo key và left join
df_merge = pd.merge(df_key, df_new, on='key', how='left')
print(df_merge.head(5))

       0           1_x            2     3           4        5  \
0  44K24  181121424115  Nguyễn Thục  Uyên  15/10/2000  ACC1001
1  44K24  181121424115  Nguyễn Thục  Uyên  15/10/2000  ACC1001
2  44K24  181121424115  Nguyễn Thục  Uyên  15/10/2000  ACC1001
3  44K24  181121424115  Nguyễn Thục  Uyên  15/10/2000  ACC1001
4  44K24  181121424115  Nguyễn Thục  Uyên  15/10/2000  ACC1001

                   6        7         8     9           10_x  11_x  12     13  \
0  Nguyên lý kế toán  2100329  Hồ Phước  Dũng  ACC1002_48K05     1   5  không
1  Nguyên lý kế toán  2100329  Hồ Phước  Dũng  ACC1002_48K05     2   5  không
2  Nguyên lý kế toán  2100329  Hồ Phước  Dũng  ACC1002_48K05     3   5  không
3  Nguyên lý kế toán  2100329  Hồ Phước  Dũng  ACC1002_48K05     4   5  không
4  Nguyên lý kế toán  2100329  Hồ Phước  Dũng  ACC1002_48K05     5   5  không

                         key  1_y 10_y  11_y
0  181121424115ACC1002_48K05  NaN  NaN   NaN
1  181121424115ACC1002_48K05  NaN  NaN   NaN
2  181121424115ACC1002_48K05  NaN  NaN   NaN
3  181121424115ACC1002_48K05  NaN  NaN   NaN
4  181121424115ACC1002_48K05  NaN  NaN   NaN

In [7]:
# tìm ra những cột có cột 11_y là null đây là danh sách đánh giá học phần của sinh viên có đủ số lượng câu hỏi
df_merge_no_null = df_merge[df_merge['11_y'].isnull()]
print(df_merge_no_null.head(5))

       0           1_x            2     3           4        5  \
0  44K24  181121424115  Nguyễn Thục  Uyên  15/10/2000  ACC1001
1  44K24  181121424115  Nguyễn Thục  Uyên  15/10/2000  ACC1001
2  44K24  181121424115  Nguyễn Thục  Uyên  15/10/2000  ACC1001
3  44K24  181121424115  Nguyễn Thục  Uyên  15/10/2000  ACC1001
4  44K24  181121424115  Nguyễn Thục  Uyên  15/10/2000  ACC1001

                   6        7         8     9           10_x  11_x  12     13  \
0  Nguyên lý kế toán  2100329  Hồ Phước  Dũng  ACC1002_48K05     1   5  không
1  Nguyên lý kế toán  2100329  Hồ Phước  Dũng  ACC1002_48K05     2   5  không
2  Nguyên lý kế toán  2100329  Hồ Phước  Dũng  ACC1002_48K05     3   5  không
3  Nguyên lý kế toán  2100329  Hồ Phước  Dũng  ACC1002_48K05     4   5  không
4  Nguyên lý kế toán  2100329  Hồ Phước  Dũng  ACC1002_48K05     5   5  không

                         key  1_y 10_y  11_y
0  181121424115ACC1002_48K05  NaN  NaN   NaN
1  181121424115ACC1002_48K05  NaN  NaN   NaN
2  181121424115ACC1002_48K05  NaN  NaN   NaN
3  181121424115ACC1002_48K05  NaN  NaN   NaN
4  181121424115ACC1002_48K05  NaN  NaN   NaN

In [8]:
# xoá 4 cột đã nối 
df_final = df_merge_no_null.drop(df_merge_no_null.columns[-4:], axis=1)
print(df_final.head(5))

       0           1_x            2     3           4        5  \
0  44K24  181121424115  Nguyễn Thục  Uyên  15/10/2000  ACC1001
1  44K24  181121424115  Nguyễn Thục  Uyên  15/10/2000  ACC1001
2  44K24  181121424115  Nguyễn Thục  Uyên  15/10/2000  ACC1001
3  44K24  181121424115  Nguyễn Thục  Uyên  15/10/2000  ACC1001
4  44K24  181121424115  Nguyễn Thục  Uyên  15/10/2000  ACC1001

                   6        7         8     9           10_x  11_x  12     13
0  Nguyên lý kế toán  2100329  Hồ Phước  Dũng  ACC1002_48K05     1   5  không
1  Nguyên lý kế toán  2100329  Hồ Phước  Dũng  ACC1002_48K05     2   5  không
2  Nguyên lý kế toán  2100329  Hồ Phước  Dũng  ACC1002_48K05     3   5  không
3  Nguyên lý kế toán  2100329  Hồ Phước  Dũng  ACC1002_48K05     4   5  không
4  Nguyên lý kế toán  2100329  Hồ Phước  Dũng  ACC1002_48K05     5   5  không

In [9]:
df_final.to_csv('KSHP_1_24_Transform_1.csv', index=False, header=False, encoding='utf-8')