In [12]:
# đọc và tạo key bằng masv + malophp
import pandas as pd
df_1 = pd.read_csv('KSHP_1_24_Transform_1.csv', header=None)
df_1 = df_1.drop_duplicates()
df_1['key'] = df_1[1].astype('str') + df_1[10]
print(df_1)

C:\Users\DW\AppData\Local\Temp\ipykernel_7756\3749388447.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_1 = pd.read_csv('KSHP_1_24_Transform_1.csv', header=None)

               0             1            2         3           4        5  \
0          44K24  181121424115  Nguyễn Thục      Uyên  15/10/2000  ACC1001
1          44K24  181121424115  Nguyễn Thục      Uyên  15/10/2000  ACC1001
2          44K24  181121424115  Nguyễn Thục      Uyên  15/10/2000  ACC1001
3          44K24  181121424115  Nguyễn Thục      Uyên  15/10/2000  ACC1001
4          44K24  181121424115  Nguyễn Thục      Uyên  15/10/2000  ACC1001
...          ...           ...          ...       ...         ...      ...
1020266  47K13.2  211120913269    Boualapha  Vanvilay  06/02/2001  VNA3004
1020267  47K13.2  211120913269    Boualapha  Vanvilay  06/02/2001  VNA3004
1020268  47K13.2  211120913269    Boualapha  Vanvilay  06/02/2001  VNA3004
1020269  47K13.2  211120913269    Boualapha  Vanvilay  06/02/2001  VNA3004
1020270  47K13.2  211120913269    Boualapha  Vanvilay  06/02/2001  VNA3004

                                 6        7             8     9  \
0                Nguyên lý kế toán  2100329      Hồ Phước  Dũng
1                Nguyên lý kế toán  2100329      Hồ Phước  Dũng
2                Nguyên lý kế toán  2100329      Hồ Phước  Dũng
3                Nguyên lý kế toán  2100329      Hồ Phước  Dũng
4                Nguyên lý kế toán  2100329      Hồ Phước  Dũng
...                            ...      ...           ...   ...
1020266  Tiếng việt chuyên ngành 2  3260005  Hồ Trần Ngọc  Oanh
1020267  Tiếng việt chuyên ngành 2  3260005  Hồ Trần Ngọc  Oanh
1020268  Tiếng việt chuyên ngành 2  3260005  Hồ Trần Ngọc  Oanh
1020269  Tiếng việt chuyên ngành 2  3260005  Hồ Trần Ngọc  Oanh
1020270  Tiếng việt chuyên ngành 2  3260005  Hồ Trần Ngọc  Oanh

                    10  11  12      13                        key
0        ACC1002_48K05   1   5   không  181121424115ACC1002_48K05
1        ACC1002_48K05   2   5   không  181121424115ACC1002_48K05
2        ACC1002_48K05   3   5   không  181121424115ACC1002_48K05
3        ACC1002_48K05   4   5   không  181121424115ACC1002_48K05
4        ACC1002_48K05   5   5   không  181121424115ACC1002_48K05
...                ...  ..  ..     ...                        ...
1020266      VNA3004_1  21   1  đồng ý      211120913269VNA3004_1
1020267      VNA3004_1  22   1  đồng ý      211120913269VNA3004_1
1020268      VNA3004_1  23   1  đồng ý      211120913269VNA3004_1
1020269      VNA3004_1  24   1  đồng ý      211120913269VNA3004_1
1020270      VNA3004_1  25   1  đồng ý      211120913269VNA3004_1

[1020221 rows x 15 columns]

In [13]:
# tìm ra những sinh viên trả lời trên 25 câu cho 1 lớp học phần
df_2 = df_1.groupby([df_1.columns[1], df_1.columns[10]])[df_1.columns[11]].agg('count').reset_index()
df_2 = df_2[df_2[11]>25]
df_2['key'] = df_2[1].astype('str') + df_2[10]
print(df_2)

                  1               10  11                          key
21     181121505104       ENG2015_24  51       181121505104ENG2015_24
52     191121006109        BAN3003_2  61        191121006109BAN3003_2
101    191121325144        LAW3001_1  50        191121325144LAW3001_1
166    191121927111    SMT3020_46K27  26    191121927111SMT3020_46K27
170    191122015121        FIN3001_1  75        191122015121FIN3001_1
...             ...              ...  ..                          ...
40370  231124008144  MIS1002_49K08.1  26  231124008144MIS1002_49K08.1
40391  231124022111       ENGELE1_34  26       231124022111ENGELE1_34
40397  231124022421  ECO1001_49K22.4  29  231124022421ECO1001_49K22.4
40419  231124029117  MIS3001_49K29.1  34  231124029117MIS3001_49K29.1
40421  231124029129       ENGELE1_45  50       231124029129ENGELE1_45

[489 rows x 4 columns]

In [14]:
#Danh sách KSHP của các sinh viên trả lời trên 25 câu cho 1 lớp học phần
mask = df_1['key'].isin(df_2['key'])
df_3 =df_1[mask]
df_3['key'] = df_3['key'] + df_3[13]
print(df_3)

                 0             1                2      3           4        5  \
225        46K02.3  201121302349      Nguyễn Đăng  Thiện  14/11/2002  ACC1001
226        46K02.3  201121302349      Nguyễn Đăng  Thiện  14/11/2002  ACC1001
227        46K02.3  201121302349      Nguyễn Đăng  Thiện  14/11/2002  ACC1001
228        46K02.3  201121302349      Nguyễn Đăng  Thiện  14/11/2002  ACC1001
229        46K02.3  201121302349      Nguyễn Đăng  Thiện  14/11/2002  ACC1001
...            ...           ...              ...    ...         ...      ...
1019341  48K01.2-E  221121699213  Nguyễn Thị Thảo   Ngọc  10/06/2004  VIS1909
1019342  48K01.2-E  221121699213  Nguyễn Thị Thảo   Ngọc  10/06/2004  VIS1909
1019343  48K01.2-E  221121699213  Nguyễn Thị Thảo   Ngọc  10/06/2004  VIS1909
1019344  48K01.2-E  221121699213  Nguyễn Thị Thảo   Ngọc  10/06/2004  VIS1909
1019345  48K01.2-E  221121699213  Nguyễn Thị Thảo   Ngọc  10/06/2004  VIS1909

                         6        7           8    9                 10  11  \
225      Nguyên lý kế toán  2100332      Lê Thị   Na    ACC1002_48K01.5   1
226      Nguyên lý kế toán  2100332      Lê Thị   Na    ACC1002_48K01.5   1
227      Nguyên lý kế toán  2100332      Lê Thị   Na    ACC1002_48K01.5   2
228      Nguyên lý kế toán  2100332      Lê Thị   Na    ACC1002_48K01.5   2
229      Nguyên lý kế toán  2100332      Lê Thị   Na    ACC1002_48K01.5   3
...                    ...      ...         ...  ...                ...  ..
1019341    Design Thinking  2160360  Trần Thiện  Trí  VIS1909_48K01.2-E  23
1019342    Design Thinking  2160360  Trần Thiện  Trí  VIS1909_48K01.2-E  24
1019343    Design Thinking  2160360  Trần Thiện  Trí  VIS1909_48K01.2-E  24
1019344    Design Thinking  2160360  Trần Thiện  Trí  VIS1909_48K01.2-E  25
1019345    Design Thinking  2160360  Trần Thiện  Trí  VIS1909_48K01.2-E  25

         12        13                                    key
225       3     khong       201121302349ACC1002_48K01.5khong
226       3         s           201121302349ACC1002_48K01.5s
227       3     khong       201121302349ACC1002_48K01.5khong
228       3         s           201121302349ACC1002_48K01.5s
229       3     khong       201121302349ACC1002_48K01.5khong
...      ..       ...                                    ...
1019341   3  Hai long  221121699213VIS1909_48K01.2-EHai long
1019342   3       abc       221121699213VIS1909_48K01.2-Eabc
1019343   3  Hai long  221121699213VIS1909_48K01.2-EHai long
1019344   3       abc       221121699213VIS1909_48K01.2-Eabc
1019345   3  Hai long  221121699213VIS1909_48K01.2-EHai long

[21185 rows x 15 columns]

C:\Users\DW\AppData\Local\Temp\ipykernel_7756\3486464670.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3['key'] = df_3['key'] + df_3[13]

In [15]:
# tìm ra những sinh trả lời hơn 2 lần cho 1 phiếu khảo sát học phần 
df_5 = df_3.groupby([df_3.columns[1], df_3.columns[10], df_3.columns[13]])[df_3.columns[11]].agg('count').reset_index()
df_5 = df_5[df_5[11]>=25]
print(df_5)

               1                10                        13  11
0    181121505104       ENG2015_24                        ok  25
1    181121505104       ENG2015_24                 okghhjhjj  26
2    191121006109        BAN3003_2                     khong  25
3    191121006109        BAN3003_2                     không  36
4    191121325144        LAW3001_1                         K  25
..            ...              ...                       ...  ..
883  231124022111       ENGELE1_34    khong co y kien j khac  26
884  231124022421  ECO1001_49K22.4                   không ạ  29
885  231124029117  MIS3001_49K29.1   Hài lòng với học phần ạ  34
886  231124029129       ENGELE1_45   Em không có ý kiến gì ạ  25
887  231124029129       ENGELE1_45  Em không có ý kiến gì ạ.  25

[745 rows x 4 columns]

In [16]:
# xoá bỏ các bộ trả lời trùng
keep_rows = [True]  # Giữ lại hàng đầu tiên
for i in range(1, len(df_5)):
    condition = (df_5.iloc[i, 0] == df_5.iloc[i-1, 0]) and (df_5.iloc[i, 1] == df_5.iloc[i-1, 1]) and (df_5.iloc[i, 2] != df_5.iloc[i-1, 2])
    keep_rows.append(not condition)

df_5 = df_5[keep_rows]
df_5['key'] = df_5[1].astype('str') + df_5[10] + df_5[13]
# In DataFrame đã được sửa đổi
print(df_5)

                1               10                       13  11  \
0    181121505104       ENG2015_24                       ok  25
2    191121006109        BAN3003_2                    khong  25
4    191121325144        LAW3001_1                        K  25
6    191121927111    SMT3020_46K27                     Mali  26
7    191122015121        FIN3001_1                        .  25
..            ...              ...                      ...  ..
882  231124008144  MIS1002_49K08.1                Không có   26
883  231124022111       ENGELE1_34   khong co y kien j khac  26
884  231124022421  ECO1001_49K22.4                  không ạ  29
885  231124029117  MIS3001_49K29.1  Hài lòng với học phần ạ  34
886  231124029129       ENGELE1_45  Em không có ý kiến gì ạ  25

                                                   key
0                             181121505104ENG2015_24ok
2                           191121006109BAN3003_2khong
4                               191121325144LAW3001_1K
6                        191121927111SMT3020_46K27Mali
7                               191122015121FIN3001_1.
..                                                 ...
882               231124008144MIS1002_49K08.1Không có
883       231124022111ENGELE1_34khong co y kien j khac
884                 231124022421ECO1001_49K22.4không ạ
885  231124029117MIS3001_49K29.1Hài lòng với học ph...
886      231124029129ENGELE1_45Em không có ý kiến gì ạ

[474 rows x 5 columns]

In [17]:
# lấy bộ dữ liệu của cách dữ liệu đã chọn ở df_5
mask2 = df_3['key'].isin(df_5['key'])
df_6 = df_3[mask2]
print(df_6)

                 0             1                2      3           4        5  \
4055       48K01.4  221121601441    Phạm Thị Minh  Thành  25/01/2004  ACC1002
4056       48K01.4  221121601441    Phạm Thị Minh  Thành  25/01/2004  ACC1002
4057       48K01.4  221121601441    Phạm Thị Minh  Thành  25/01/2004  ACC1002
4058       48K01.4  221121601441    Phạm Thị Minh  Thành  25/01/2004  ACC1002
4059       48K01.4  221121601441    Phạm Thị Minh  Thành  25/01/2004  ACC1002
...            ...           ...              ...    ...         ...      ...
1019337  48K01.2-E  221121699213  Nguyễn Thị Thảo   Ngọc  10/06/2004  VIS1909
1019339  48K01.2-E  221121699213  Nguyễn Thị Thảo   Ngọc  10/06/2004  VIS1909
1019341  48K01.2-E  221121699213  Nguyễn Thị Thảo   Ngọc  10/06/2004  VIS1909
1019343  48K01.2-E  221121699213  Nguyễn Thị Thảo   Ngọc  10/06/2004  VIS1909
1019345  48K01.2-E  221121699213  Nguyễn Thị Thảo   Ngọc  10/06/2004  VIS1909

                        6        7             8    9                 10  11  \
4055     Nhập môn kế toán  2100351  Võ Thị Thanh  Vân    ACC1002_48K01.4   1
4056     Nhập môn kế toán  2100351  Võ Thị Thanh  Vân    ACC1002_48K01.4   1
4057     Nhập môn kế toán  2100351  Võ Thị Thanh  Vân    ACC1002_48K01.4   2
4058     Nhập môn kế toán  2100351  Võ Thị Thanh  Vân    ACC1002_48K01.4   3
4059     Nhập môn kế toán  2100351  Võ Thị Thanh  Vân    ACC1002_48K01.4   4
...                   ...      ...           ...  ...                ...  ..
1019337   Design Thinking  2160360    Trần Thiện  Trí  VIS1909_48K01.2-E  21
1019339   Design Thinking  2160360    Trần Thiện  Trí  VIS1909_48K01.2-E  22
1019341   Design Thinking  2160360    Trần Thiện  Trí  VIS1909_48K01.2-E  23
1019343   Design Thinking  2160360    Trần Thiện  Trí  VIS1909_48K01.2-E  24
1019345   Design Thinking  2160360    Trần Thiện  Trí  VIS1909_48K01.2-E  25

         12        13                                    key
4055      4  DẠ KHÔNG    221121601441ACC1002_48K01.4DẠ KHÔNG
4056      5  DẠ KHÔNG    221121601441ACC1002_48K01.4DẠ KHÔNG
4057      5  DẠ KHÔNG    221121601441ACC1002_48K01.4DẠ KHÔNG
4058      5  DẠ KHÔNG    221121601441ACC1002_48K01.4DẠ KHÔNG
4059      5  DẠ KHÔNG    221121601441ACC1002_48K01.4DẠ KHÔNG
...      ..       ...                                    ...
1019337   3  Hai long  221121699213VIS1909_48K01.2-EHai long
1019339   3  Hai long  221121699213VIS1909_48K01.2-EHai long
1019341   3  Hai long  221121699213VIS1909_48K01.2-EHai long
1019343   3  Hai long  221121699213VIS1909_48K01.2-EHai long
1019345   3  Hai long  221121699213VIS1909_48K01.2-EHai long

[12663 rows x 15 columns]

In [18]:
# Xoá bỏ các bộ trả lời tuy có đủ 25 câu nhưng có trả lời lặp 1 hoặc nhiều câu bất kì 
# Tạo một mảng boolean để chỉ ra các hàng phù hợp với điều kiện
keep_rows1 = [True]  # Giữ lại hàng đầu tiên
for i in range(1, len(df_6)):
    condition1 = (df_6.iloc[i, 1] == df_6.iloc[i-1, 1]) and (df_6.iloc[i, 10] == df_6.iloc[i-1, 10]) and (df_6.iloc[i, 11] == df_6.iloc[i-1, 11])
    keep_rows1.append(not condition1)

# Lọc DataFrame với mảng boolean
df_6 = df_6[keep_rows1]

# In DataFrame đã được sửa đổi
print(df_6)

                 0             1                2      3           4        5  \
4055       48K01.4  221121601441    Phạm Thị Minh  Thành  25/01/2004  ACC1002
4057       48K01.4  221121601441    Phạm Thị Minh  Thành  25/01/2004  ACC1002
4058       48K01.4  221121601441    Phạm Thị Minh  Thành  25/01/2004  ACC1002
4059       48K01.4  221121601441    Phạm Thị Minh  Thành  25/01/2004  ACC1002
4060       48K01.4  221121601441    Phạm Thị Minh  Thành  25/01/2004  ACC1002
...            ...           ...              ...    ...         ...      ...
1019337  48K01.2-E  221121699213  Nguyễn Thị Thảo   Ngọc  10/06/2004  VIS1909
1019339  48K01.2-E  221121699213  Nguyễn Thị Thảo   Ngọc  10/06/2004  VIS1909
1019341  48K01.2-E  221121699213  Nguyễn Thị Thảo   Ngọc  10/06/2004  VIS1909
1019343  48K01.2-E  221121699213  Nguyễn Thị Thảo   Ngọc  10/06/2004  VIS1909
1019345  48K01.2-E  221121699213  Nguyễn Thị Thảo   Ngọc  10/06/2004  VIS1909

                        6        7             8    9                 10  11  \
4055     Nhập môn kế toán  2100351  Võ Thị Thanh  Vân    ACC1002_48K01.4   1
4057     Nhập môn kế toán  2100351  Võ Thị Thanh  Vân    ACC1002_48K01.4   2
4058     Nhập môn kế toán  2100351  Võ Thị Thanh  Vân    ACC1002_48K01.4   3
4059     Nhập môn kế toán  2100351  Võ Thị Thanh  Vân    ACC1002_48K01.4   4
4060     Nhập môn kế toán  2100351  Võ Thị Thanh  Vân    ACC1002_48K01.4   5
...                   ...      ...           ...  ...                ...  ..
1019337   Design Thinking  2160360    Trần Thiện  Trí  VIS1909_48K01.2-E  21
1019339   Design Thinking  2160360    Trần Thiện  Trí  VIS1909_48K01.2-E  22
1019341   Design Thinking  2160360    Trần Thiện  Trí  VIS1909_48K01.2-E  23
1019343   Design Thinking  2160360    Trần Thiện  Trí  VIS1909_48K01.2-E  24
1019345   Design Thinking  2160360    Trần Thiện  Trí  VIS1909_48K01.2-E  25

         12        13                                    key
4055      4  DẠ KHÔNG    221121601441ACC1002_48K01.4DẠ KHÔNG
4057      5  DẠ KHÔNG    221121601441ACC1002_48K01.4DẠ KHÔNG
4058      5  DẠ KHÔNG    221121601441ACC1002_48K01.4DẠ KHÔNG
4059      5  DẠ KHÔNG    221121601441ACC1002_48K01.4DẠ KHÔNG
4060      5  DẠ KHÔNG    221121601441ACC1002_48K01.4DẠ KHÔNG
...      ..       ...                                    ...
1019337   3  Hai long  221121699213VIS1909_48K01.2-EHai long
1019339   3  Hai long  221121699213VIS1909_48K01.2-EHai long
1019341   3  Hai long  221121699213VIS1909_48K01.2-EHai long
1019343   3  Hai long  221121699213VIS1909_48K01.2-EHai long
1019345   3  Hai long  221121699213VIS1909_48K01.2-EHai long

[11847 rows x 15 columns]

In [20]:
# kiểm tra
df_7 = df_6.groupby([df_6.columns[1], df_6.columns[10]])[df_6.columns[11]].agg('count').reset_index()
df_7 = df_7[df_7[11]>25]
print(df_7)

Empty DataFrame
Columns: [1, 10, 11]
Index: []

In [21]:
# xoá bỏ cột key trong df_1, df_3, df_6
df_1 = df_1.drop('key', axis=1)
df_3 = df_3.drop('key', axis=1)
df_6 = df_6.drop('key', axis=1)

In [22]:
# xoá bỏ df_6 trong df_3
df_3_6 = df_3.merge(df_6, how='outer', indicator=True).loc[lambda x: x['_merge'] == 'left_only'].drop('_merge', axis=1)

#xoá bỏ df_3_6 trong df_1
df_final = df_1.merge(df_3_6, how='outer', indicator=True).loc[lambda x: x['_merge'] == 'left_only'].drop('_merge', axis=1)

print(df_final)

df_final.to_csv('KSHP_1_24_Transform_2.csv', index=False, header=False, encoding='utf-8')

             0             1            2     3           4        5  \
0        43K21  171121521111        Lê Hồ   Đạt  06/03/1999  ACC2003
1        43K21  171121521111        Lê Hồ   Đạt  06/03/1999  ACC2003
2        43K21  171121521111        Lê Hồ   Đạt  06/03/1999  ACC2003
3        43K21  171121521111        Lê Hồ   Đạt  06/03/1999  ACC2003
4        43K21  171121521111        Lê Hồ   Đạt  06/03/1999  ACC2003
...        ...           ...          ...   ...         ...      ...
1020216  49K33  231122033119  Nguyễn Quốc  Hưng  21/05/2005  ENG2015
1020217  49K33  231122033119  Nguyễn Quốc  Hưng  21/05/2005  ENG2015
1020218  49K33  231122033119  Nguyễn Quốc  Hưng  21/05/2005  ENG2015
1020219  49K33  231122033119  Nguyễn Quốc  Hưng  21/05/2005  ENG2015
1020220  49K33  231122033119  Nguyễn Quốc  Hưng  21/05/2005  ENG2015

                               6        7       8         9          10  11  \
0              Kế toán tài chính  2100107  Lê Văn       Nam   ACC2003_1   1
1              Kế toán tài chính  2100107  Lê Văn       Nam   ACC2003_1   2
2              Kế toán tài chính  2100107  Lê Văn       Nam   ACC2003_1   3
3              Kế toán tài chính  2100107  Lê Văn       Nam   ACC2003_1   4
4              Kế toán tài chính  2100107  Lê Văn       Nam   ACC2003_1   5
...                          ...      ...     ...       ...         ...  ..
1020216  English Communication 1  TG42748   Lauri  Louekari  ENG2015_52  21
1020217  English Communication 1  TG42748   Lauri  Louekari  ENG2015_52  22
1020218  English Communication 1  TG42748   Lauri  Louekari  ENG2015_52  23
1020219  English Communication 1  TG42748   Lauri  Louekari  ENG2015_52  24
1020220  English Communication 1  TG42748   Lauri  Louekari  ENG2015_52  25

         12                        13
0         5  dạ không có ý kiến gì ạ!
1         5  dạ không có ý kiến gì ạ!
2         5  dạ không có ý kiến gì ạ!
3         5  dạ không có ý kiến gì ạ!
4         5  dạ không có ý kiến gì ạ!
...      ..                       ...
1020216   5                     không
1020217   5                     không
1020218   1                     không
1020219   1                     không
1020220   5                     không

[1010883 rows x 14 columns]

In [23]:
df_t = df_final.groupby([df_final.columns[1], df_final.columns[10], df_final.columns[11]])[df_final.columns[12]].agg('count').reset_index()
df_t = df_t[df_t[12]>1]
print(df_t)

                  1                10  11  12
409525  211121514140  MIS3041_46K29.1   1   2
409526  211121514140  MIS3041_46K29.1   2   2
409527  211121514140  MIS3041_46K29.1   3   2

In [16]:
# cắt dữ liệu
import pandas as pd
df = pd.read_csv('KSHP_2_Transform_2.csv', header=None)
df_selected = df.iloc[0:700000]
df_selected.to_csv('KSHP2_cut.csv', header=False, index=False, encoding='utf-8' )

C:\Users\DW\AppData\Local\Temp\ipykernel_9644\2243549580.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('KSHP_2_Transform_2.csv', header=None)

In [21]:
max_length = d2.iloc[:, 13].astype(str).apply(len).max()
print(max_length)

1024